<div class="p-2">
    <h2>All Vaccination Records in Malaysia</h2>
  <table class="table table-striped">
    <thead>
      <tr *ngFor="let rowItem of rowData; let i = index">
        <th scope="col">{{rowItem[i]}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
